#hero{
    width: 375px;
    height: 380px;
}

@media screen and (min-width:768px) {
    #hero{
        width: 768px;
        height: 570px;
    }
}

@media screen and (min-width:1200px) {

    #hero{
        width: 1200px;
        height: 900px;
    }

}

@media screen and (min-width:1920px) {
    #hero{
        width: 1920px;
        height: 900px;
    }
}